body {
  background-color: #f9f9f9;
  height: 100vh;
  width: 100%;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.App,
#root {
  height: 100%;
  width: 100%;
}

button {
  background: transparent;
  border: none;
  padding: 10Px;
  width: auto;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;

}

a,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:focus {
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #F4ECEC !important;
  outline: none;
  border-radius: 6px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

label {
  margin-top: 10px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}

/* Header  */
header {
  width: 100%;
  background-color: #EDEAEA;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

header a,
header a:visited,
header a:active {
  color: black;
  text-decoration: none;
}

header h1 {
  font-size: 1.5rem;
  padding-left: 2.5rem;
}

header svg {
  fill: black;
}

header button {
  cursor: pointer;
  color: black;
  font-size: 1.1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
}

.about-button-header {
  padding-left: 3rem;
  padding-right: 3rem;
}

.signup-button-header {
  padding-right: 2.5rem;
}

.cart-button-header {
  padding-right: 2.5rem;
}


.nav-container {
  display: flex;
  justify-content: flex-end;
}

@media (max-width:850px) {
  .nav-container {
    justify-content: flex-start;
  }
}


/* Inventory  */
.inventory-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

.inventory-item {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  background: white;
  width: 240px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 1rem;
  font-size: 1rem;
}

.inventory-item img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.inventory-list button {
  cursor: pointer;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  margin-top: 10Px;
  border: none;
  background-color: #0429AE;
  color: white;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.inventory-list button:hover {
  background: white;
  color: #0429AE;
  border: 1px solid #ccc;
}

.inventory-filtering {
  position: absolute;
  right: 2rem;
}

.inventory-filtering select {
  margin: 10px;
}

/* Signup - login*/
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -5%;
}

@media (max-width:800px) {
  .signup {
    flex-direction: column;
  }

}

.login-container {
  width: 50%;
}

.form-login,
.register-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-login {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 30px;
  width: 50%;
}

.login-submit {
  background: #ccc;
  width: min-content;
  margin-top: 15px;
  padding: 10px 20px;
  transition: all 0.3s;
}

.login-submit:hover {
  background: #121212f0;
  color: #ccc;
}

.register-options button {
  border: 1px solid #333;
  padding: 2rem;
  margin: 2rem 0;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  transition: all 0.3s;
}

.register-options button:hover {
  background: #121212f0;
  color: #fff;

}

.error {
  width: auto;
  height: min-content;
  color: black;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  background-color: #f9ded8;
  padding: 4px;
  border-radius: 8px;
  margin-top:10px;
}

/* Donor Signup */

.register-donor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-donor input {
  width: 350px;
}

.register-donor label {
  display: flex;
  flex-direction: row;
}

.radio {
  outline: none;
  width: 30Px;
  height: 15px;
  border: none;
}

#donor-header {
  padding: 10px 0px;
  font-size: 24px;
  font-style: normal;
}

#instructions {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.input-element{
  width: 360px !important;
}

.row {
  width: 97.5% !important;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

#btn {
  background: #045CAE;
  padding: 20px;
  color: white;
}

.inventory-filtering {
  position: absolute;
  right: 2rem;
}

.inventory-filtering select {
  margin: 10px;
}

/* Signup - login*/
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -5%;
}

@media (max-width:800px) {
  .signup {
    flex-direction: column;
  }

}

.login-container {
  width: 50%;
}

.form-login,
.register-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-login {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 30px;
  width: 50%;
}

.login-submit {

  background: #121212f0;
  color: white;
  width: min-content;
  margin-top: 15px;
  padding: 10px 20px;
  transition: all 0.3s;
}

.login-submit:hover {
  background: #ccc;
  color: black;
}

.register-options button {
  border: 1px solid #333;
  padding: 2rem;
  margin: 2rem 0;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  transition: all 0.3s;
}

.register-options button:hover {
  background: #121212f0;
  color: #fff;

}

.error {
  width: auto;
  height: min-content;
  color: black;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  background-color: #f9ded8;
  padding: 4px;
  border-radius: 8px;
}

/* Cart*/
.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top:20px;
}

.tip {
  text-align:center;
}

.cart a {
  text-decoration: underline;
}

.cartItem {
  width: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 20px;
  margin: 1rem;
  font-size: 1rem;
}

.cartItem button {
  background: black;
  color: white;
  border-radius: 3px;
  padding: 10Px;
  margin-top: 10px;
  font-size: 1rem;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.cartItem button:hover {
  background: white;
  color: black;
  border: 1px solid #ccc;
}


.cartItem h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.order select {
  width: min-content;
  background: #F4ECEC;
}

/* //sign up recipient  */

.signup-recipients-auth-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.signup-recipients-auth-wrapper h1 {
  font-size: 1rem;
  padding-bottom: 15px;
}

.auth-signup-recipients-container {
  width: 40%;
  margin-top: 15px;
}

.auth-signup-recipients-container a {
  text-decoration: underline;
}

.auth-signup-recipients-container input {
  margin: 5px 0;
}

.pw-requirements {
  padding-top: 15px;
  display: inline-block;
  font-size: 0.9rem;
}

.auth-signup-recipients-container button {
  background: #000000;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  padding: 15px;
  font-size: 1rem;
  margin-right: 5px;
}

/* Home page styling */

#thankyou {
  padding: 20px;
  background: rgb(139, 245, 139);
  display: none;
  justify-content: center;
}

#landing {
  background: #F4ECEC;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
}

#reviews {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #FAF7EC;
}

.recipient-review {
  padding: 80px;
}

#redirecting-users {
  padding-left: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#img {
  width: 450px;
  height: auto;
}

#img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shop-btn {
  padding: 20px;
  background: #162BEC;
  color: white;
  width: 200px;
}

#doante-here-btn {
  padding: 20px;
  background: #FDC707;
  width: 200px;
}

/* About Us Page */
#title {
  font-family: 'Zilla Slab';
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-align: left;
}

#about-wrapper {
  padding: 50px 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FAF7EC;
}

#message {
  margin-left: 60px;
  font-family: 'Zilla Slab';
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
}

#footer {
  background: #F4ECEC;
  height: 100px;
}

/* Recipient sign up page */

#recipient-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#recipient-signup-btn {
  background: black;
  color: white;
  border-radius: 0px;
  padding: 15px;
  width: 200px;
}