header {
  width:100%;
  background-color: #121212f0;
  color:whitesmoke;
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-size: 1.2rem;
  padding-top:1rem;
  padding-bottom:1rem;
}

header a,
header a:visited,
header a:active
 {
  color:whitesmoke;
  text-decoration: none;
}

header h1 {
  font-size:1.3rem;
}

header svg {
  fill:whitesmoke;
}

header button {
  background:transparent;
  border:none;
  cursor:pointer;
  color:whitesmoke;
}

.about-button-header{
  padding-left: 3rem;
  padding-right: 3rem;
}

.title-info-header {
  display:flex;
  align-items:center;
  padding-left:2.5rem;
}

.signup-button-header {
  padding-right:2.5rem;
}



